@import "../../../assets/scss/color.style.scss";

a {
  text-decoration: none;
  color: $whiteColor;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
}

li {
  margin: 0;
  list-style: none;
}

li + li {
  margin-left: 2rem;
}

.header-container {
  padding: 1rem 7rem;
}

.row {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
